@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.title</title>
    <link type="text/css" href="~/vendor/_fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="~/images/khaopiyo_logo.png" type="image/icon type">
    <!-- Pixel CSS -->
    <link type="text/css" href="~/css/khaopiyo.css" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   
</head>

<body>
    @using (@Html.BeginForm())
    {
        <main>
            <!-- Hero -->
            <section class="section section bg-soft pb-5 overflow-hidden z-2">
                <div class="container z-2">
                    <div class="row justify-content-center text-center pt-1">
                        <div class="col-lg-6 col-xl-6">
                            <h1 class="display-2 mb-3"> <img src="/images/KhaoPiyoLogo.png" class="loginpage-logo" alt="Artist desk"></h1>

                            <div class="d-none @ViewBag.errorclass">@ViewBag.error</div> <!--Error Box-->

                            <div class="card bg-primary shadow-soft border-light">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8  text-center">
                                        <div class="card-body ">
                                            <div class="login-form form-group">
                                                <div class="form-text text-center font-weight-bold"><h4>Login</h4></div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><span class="fa fa-user"></span></span>
                                                    </div>
                                                    <input class="form-control" id="txtuserid" placeholder="Enter your username" type="text" aria-label="Input with icon left" name="txtuserid">
                                                </div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><span class="fa fa-key"></span></span>
                                                    </div>
                                                    <input class="form-control login-text-pwd" id="txtuserpass" name="txtuserpass" placeholder="Enter password" type="password" aria-label="Input with icon left">
                                                </div>
                                                @*<div class="form-check square-check mb-3 text-left pl-1">
                                                        <input class="form-check-input" type="checkbox" value="" name="remember" id="remember">
                                                        <label class="form-check-label" for="remember">
                                                            Remember me
                                                        </label>
                                                    </div>*@
                                                <div class="input-group mb-3 "> <button type="submit" class="btn btn-primary btn-block">Submit</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    }
    <!-- Core -->
    @Scripts.Render("~/bundles/jquery")
    <!-- Neumorphism JS -->
    <script src="~/assets/js/neumorphism.js"></script>
    <link type="text/css" href="~/css/customStyle.css" rel="stylesheet">

    @*@{ if (ViewBag.error != "")
        {
            <script>
                alert(@ViewBag.error);
            </script> 
        }
    }*@



</body>

</html>