@{
    ViewBag.title = "KhaoPiyo-Soft";
    if (Session["username"] == null || Session["username"].ToString() == "") {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.title</title>
    <meta name="referrer" content="strict-origin" />

    <link href="~/vendor/_fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="~/images/khaopiyo_logo.png" type="image/icon type">
    <!-- Pixel CSS -->
    <link type="text/css" href="~/css/khaopiyo.css" rel="stylesheet">
   

</head>
<body>
    <header class="header-global ">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-transparent navbar-theme-primary">
            <div class="container position-relative">
                <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light " href='@Url.Action("Index","Dashboard")'>
                    @*<img class="navbar-brand-dark" height="50" width="50" src="./assets/img/brand/dark.svg" alt="Logo light">*@
                    <img class="navbar-brand-dark navbar-logo" src="~/images/khaopiyo_logo.png" alt="Logo light">
                    <img class="navbar-brand-light navbar-logo" src="~/images/khaopiyo_logo.png" alt="Logo dark">
                </a>
                <div class="navbar-collapse collapse" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="Index" class="navbar-brand shadow-soft py-2 px-3 rounded border border-light">
                                    <img src="~/images/khaopiyo_logo.png" alt="Themesberg logo">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center ">
                        <li class="nav-item " style="float:right">
                            <a href="@Url.Action("MyDashboard","Dashboard")" class="nav-link">
                                <span class="nav-link-inner-text">My-Dashboard</span>
                                @*  <span class="fas fa-angle-down nav-link-arrow ml-2"></span>*@
                            </a>
                        </li>
                        <li class="nav-item " style="float:right">
                            <a href="@Url.Action("Index","RunningTables")" class="nav-link">
                                <span class="nav-link-inner-text">Running-Tables</span>
                                @*  <span class="fas fa-angle-down nav-link-arrow ml-2"></span>*@
                            </a>
                        </li>
                        <li class="nav-item dropdown d-none">
                            <a href="#" class="nav-link">
                                <span class="nav-link-inner-text">Reports</span>
                                <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg">
                                <div class="col-auto px-0" data-dropdown-content>
                                    <div class="list-group list-group-flush">
                                        <a href="@Url.Action("SaleRegister","ReportSummary")" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            @*<span class="icon icon-sm icon-secondary"><span class="fas fa-list"></span></span>*@
                                            <div class="ml-4">
                                                <span class="text-dark d-block">Sale Register<span class="badge badge-sm badge-secondary ml-2"></span></span>
                                            </div>
                                        </a>
                                        <a href="@Url.Action("ItemSummary","ReportSummary")" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            @*<span class="icon icon-sm icon-secondary"><span class="fas fa-list"></span></span>*@
                                            <div class="ml-4">
                                                <span class="text-dark d-block">Item Summary<span class="badge badge-sm badge-secondary ml-2"></span></span>
                                            </div>
                                        </a>
                                        <a href="@Url.Action("MealSummary","ReportSummary")" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            @*<span class="icon icon-sm icon-secondary"><span class="fas fa-list"></span></span>*@
                                            <div class="ml-4">
                                                <span class="text-dark d-block">Meal Summary<span class="badge badge-sm badge-secondary ml-2"></span></span>
                                            </div>
                                        </a>
                                        <a href="@Url.Action("CatSummary","ReportSummary")" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            @*<span class="icon icon-sm icon-secondary"><span class="fas fa-list"></span></span>*@
                                            <div class="ml-4">
                                                <span class="text-dark d-block">Category Summary<span class="badge badge-sm badge-secondary ml-2"></span></span>
                                            </div>
                                        </a>
                                        <a href="@Url.Action("AuditReport","ReportSummary")" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            @*<span class="icon icon-sm icon-secondary"><span class="fas fa-list"></span></span>*@
                                            <div class="ml-4">
                                                <span class="text-dark d-block">Audit Summary<span class="badge badge-sm badge-secondary ml-2"></span></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item ">
                            <div class="dropdown dropdown-menu-right nav-link">
                                <a href="#" class="dropdown-toggle nav-link-inner-text" data-toggle="dropdown">Reports<span class="fas fa-angle-down nav-link-arrow ml-2"></span></a>
                                <div class="dropdown-menu">
                                    <div class="list-group list-group-flush">
                                        <a href="@Url.Action("SaleRegister","ReportSummary")" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            @*<span class="icon icon-sm icon-secondary"><span class="fas fa-list"></span></span>*@
                                            <div class="ml-4">
                                                <span class="text-dark d-block">Sale Register<span class="badge badge-sm badge-secondary ml-2"></span></span>
                                            </div>
                                        </a>
                                        <a href="@Url.Action("ItemSummary","ReportSummary")" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            @*<span class="icon icon-sm icon-secondary"><span class="fas fa-list"></span></span>*@
                                            <div class="ml-4">
                                                <span class="text-dark d-block">Item Summary<span class="badge badge-sm badge-secondary ml-2"></span></span>
                                            </div>
                                        </a>
                                        <a href="@Url.Action("MealSummary","ReportSummary")" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            @*<span class="icon icon-sm icon-secondary"><span class="fas fa-list"></span></span>*@
                                            <div class="ml-4">
                                                <span class="text-dark d-block">Meal Summary<span class="badge badge-sm badge-secondary ml-2"></span></span>
                                            </div>
                                        </a>
                                        <a href="@Url.Action("CatSummary","ReportSummary")" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            @*<span class="icon icon-sm icon-secondary"><span class="fas fa-list"></span></span>*@
                                            <div class="ml-4">
                                                <span class="text-dark d-block">Category Summary<span class="badge badge-sm badge-secondary ml-2"></span></span>
                                            </div>
                                        </a>
                                        <a href="@Url.Action("AuditReport","ReportSummary")" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            @*<span class="icon icon-sm icon-secondary"><span class="fas fa-list"></span></span>*@
                                            <div class="ml-4">
                                                <span class="text-dark d-block">Audit Summary<span class="badge badge-sm badge-secondary ml-2"></span></span>
                                            </div>
                                        </a>
                                    </div>
                                    @*<li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>*@
                                </div>
                            </div>
                        </li>
                        <li class="nav-item  d-none" style="float:right">
                            <a href="@Url.Action("Index","Contact")" class="nav-link">
                                <span class="nav-link-inner-text">Contact-US</span>
                            </a>
                        </li>
                        <li class="nav-item " style="float:right">
                            <a href="@Url.Action("Index","Login")" class="nav-link">
                                <span class="nav-link-inner-text">Logout</span>
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="d-flex align-items-center">
                    <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

            </div>

        </nav>

    </header>
    <main>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
      
        @*<script src=""></script>*@
        <!-- Hero -->
        <section class="section section bg-soft pb-5 overflow-hidden z-2">
            <div class="container z-2 pt-5">
                @Html.Partial("_BreadcumbView")
                @RenderBody()
            </div>
        </section>
    </main>
    <footer>
        @*<link href="~/css/customStyle.css" rel="stylesheet" />*@
        <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
        <link href="~/css/customStyle.css" rel="stylesheet" />
    </footer>
    <!--TableDetail Modal  -->

    <div class="modal  fade overflow-auto bg-primary" id="tabDetailsModal" tabindex="-1" role="dialog" aria-labelledby="modal-form-signup" aria-hidden="true">
        <div class="modal-dialog " role="document" style="">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card  table-responsive  border-light p-4">
                        @*<button type="button" class="close " data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>*@
                        <div class="card-header text-center pb-0">
                            <h2 class="mb-0 h3 font-weight-bold tabno" id="tableno"></h2>
                        </div>
                        <div class="modalCardBody row mt-2" id="modalCardBody">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="font-weight-bold rounded-bottom modaltext text-left"> <span>Bill No : &nbsp;</span> <span class="billno" id="billno"></span> </div>
                                <div class="font-weight-bold rounded-bottom modaltext text-left"> <span>Name : &nbsp;</span> <span class="guestname"></span></div>
                                <div class=" font-weight-bold rounded-bottom modaltext text-left"> <span>Mobile No : &nbsp;</span> <span class="mobile"></span></div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="font-weight-bold rounded-bottom modaltext text-left"> <span>Bill-Date : &nbsp;</span> <span class="billdate"></span></div>
                                <div class="font-weight-bold rounded-bottom  modaltext text-left"> <span>Attended By : &nbsp;</span> <span class="Attendedby"></span></div>
                                <div class="font-weight-bold rounded-bottom  modaltext text-left"> <span>Pax : &nbsp;</span> <span class=" pax"></span></div>
                            </div>
                            <div class="col-md-12 col-xs-12 col-sm-12 pt-3 " id="tableitems">
                                <table class="table  _itemsTable " id="_itemsTable">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="" scope="col" id="itemname">Item Name</th>
                                            <th class="" scope="col" style="text-align:right">Rate</th>
                                            <th class="" scope="col" style="text-align:right">Qty</th>
                                            <th class="" scope="col" style="text-align:right">Amount</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class='col-md-12 col -xs-12 col-sm-12 p-0 pr-1' id="totalTab"></div>
                            <div class="col-md-12 col-xs-12 col-sm-12 text-right">
                                <button type="button" class="btn  btn-khaopiyo  float-lg-right ml-auto" data-dismiss="modal" aria-label="Close">
                                    Close
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>
